#root{
    width: 60%;
    height: 200px;
    margin:100px auto ;
    display: flex;
    justify-content: space-between;
}
#left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
input{
    height: 70%;
}
button{
    background-color: tomato;
    height: 20%;
    margin-top: 5%;
}
.redtext{
    color :tomato;
}
#right{
    border: 1px solid tomato;
    height: 70%;
    padding: 10px;
    width: 40%;
    text-align: center;
    font-size: 30px;
}
.imglogo{
    margin: auto;
    width: 20%;
}